body {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1900px;
}
p{
    font-size: 20px;
}
 
header {
    color: rgba(141, 8, 8, 0.678);
    background-color: rgb(88, 4, 4);
    padding: 0.2px;
    padding-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 
}
 
li {
    display: inline-block;
    margin: 20px;
    font-size: 17px;
}
li footer {
    display: inline-block;
    margin: 5px;
    font-size: 17px;
}
 
.ASSINE {
    border: 1px solid;
    color: red;
}
 
.ASSINE:hover {
    color: #eed918;
    transition: 0.4s all;
}
 
.ASSINE-anual {
    border: 1px solid;
    color: black;
    background-color: #2350d9;
    ;
    border-radius: 5px;
}
 
.ASSINE-anual:hover {
    background-color: black;
    color: #2350d9;
    transition: 0.4s all;
}
 
.ASSINE-mensal {
    border: 1px solid;
    border-radius: 5px;
    color: black;
    background-color: #0fb2f2;
}
 
.ASSINE-mensal:hover {
    color: #0fb2f2;
    background-color: black;
    transition: 0.4s all;
}
 
.ASSINE-premium {
    border: 1px solid;
    color: black;
    background-color: #eed918;
    border-radius: 5px;
}
 
.ASSINE-premium:hover {
    background-color: black;
    color: #eed918;
    transition: 0.4s all;
}
 
a {
    text-decoration: none;
    color: black;
}
 
a:hover {
    color: red;
    transition: 0.4s all;
 
}
 
.cadastre-se {
    border: 2px solid;
    border-color:black ;
    background-color: black;
    color: red;
    padding: 5px;
    border-radius: 15px;
}
 
.cadastre-se:hover {
    background-color: red;
    color: black;
    transition: 0.4s all;
}
 
.container {
    justify-content: center;
    color: black;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
 
.container2 {
    justify-content: center;
    color: yellow;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
 
.h1header {
    color: black;
    font-size: 30px;
}
 
.h2header {
    color: red;
    font-size: 40px;
    margin-left: 20px;
}
 
h1 {
    color: black;
    font-size: 30px;
}
 
h2 {
    color: red;
    font-size: 30px;
    padding-left: 10px;
}
 
h3 {
    color: red;
    font-size: 30px;
 
}
.red{
    color: black;
    background-color: red;
    border-radius: 3px;
}
 
.mensal {
    color: black;
    background-color: #0fb2f2;
}
 
.anual {
    color: black;
    background-color: #2350d9;
}
 
.premium {
    justify-content: center;
    border: 1px solid;
    color: red;
 
}
 
.premium2 {
    justify-content: center;
    border: 1px solid;
    color: black;
    background-color: #eed918;
}
 
.degrade {
    background-image: linear-gradient(to left, red, red, black, black);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}
 
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
    margin-left: 170px;
    justify-content: center;
    align-items: center;
}
 
.card {
    border: 1px solid;
    color: black;
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    width: 75%;
    background-color: black;
}
 
.card img {
    width: 100%;
    align-items: center;
    height: auto;
    background-color: black;
}
 
.card-content {
    padding: 10px;
    background-color: black;
    color: white;
    display: flex;
    /* Transforma em um container flexível */
    flex-direction: column;
    /* Alinha itens na vertical */
    justify-content: center;
    /* Centraliza verticalmente */
    align-items: center;
}
 
.card-content2 {
    border: 5px solid;
    border-color: #eed918;
    padding: 10px;
    background-color: black;
    color: white;
    display: flex;
    /* Transforma em um container flexível */
    flex-direction: column;
    /* Alinha itens na vertical */
    justify-content: center;
    /* Centraliza verticalmente */
    align-items: center;
}
 
.card-content h3 {
    margin-top: 0;
}
 
/*IMAGENS*/
.logo {
    width: 7%;
    height: auto;
    align-self: top;
    position: absolute;
    top: 0.1px;
    left: 3%;
}
 
.titulo {
    display: flex;
    align-items: center;
    margin-right: 200px;
    margin-left: 190px;
    margin-bottom: 25px;
    font-size: 10px;
}
@media screen and (max-width: 1020px){
    .titulo{
        flex-direction: column;
    }
    .container{
        flex-direction: column;

    }
    .grid{
        flex-direction: column;
    }
    .card{
        flex-direction: column;
    }
    header{
        flex-direction: column;
    }

}
